<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./style.css"  />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <title>beddo™</title>
    </head>
    <body>
        <div class="grid-container">
            <header class="row">
                <div>
                    <a class="brand" href="index.html">beddo™</a>
                </div>
                <div>
                    <a href="cart.html">Sepet</a>
                    <a href="musteri-hizmetleri.html">Müşteri Hizmetleri</a>
                </div>
            </header>
            <main>
                <div class="row center">
                    <div class="card">
                        <a href="product.html">
                            <img class="medium" src="./images/BB-001-HK.jpg" alt="product" /> 
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>beddo™ Bambu Serisi | <br>Standart Boy | Ortopedik Minder</h2>
                            </a>
                            <div class="rating">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star-half-o"></i></span>
                            </div>
                            <div class="price">
                                119.99 TL
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a href="product.html">
                            <img class="medium" src="./images/BB-002-HK.jpg" alt="product" /> 
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>beddo™ Bambu Serisi | <br>Isı Terapili | Bel Yastığı</h2>
                            </a>
                            <div class="rating">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                            </div>
                            <div class="price">
                                119.99 TL
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a href="product.html">
                            <img class="medium" src="./images/BB-005-HK.jpg" alt="product" /> 
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>beddo™ Bambu Serisi | <br>Masa Altı | Ayaklık Yastık</h2>
                            </a>
                            <div class="rating">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star-o"></i></span>
                            </div>
                            <div class="price">
                                119.99 TL
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a href="product.html">
                            <img class="medium" src="./images/BB-006-HK.jpg" alt="product" /> 
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>beddo™ Bambu Serisi | <br>Ortopedik Diz Yastığı</h2>
                            </a>
                            <div class="rating">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                            </div>
                            <div class="price">
                                119.99 TL
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a href="product.html">
                            <img class="medium" src="./images/BB-003-HK.jpg" alt="product" /> 
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>beddo™ Bambu Serisi | <br>Ortopedik Boyun | Seyahat Yastığı</h2>
                            </a>
                            <div class="rating">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star-half-o"></i></span>
                            </div>
                            <div class="price">
                                119.99 TL
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a href="product.html">
                            <img class="medium" src="./images/BB-004-ARC-HK.jpg" alt="product" /> 
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>beddo™ Bambu Serisi | <br>Ortopedik Araç Yastığı</h2>
                            </a>
                            <div class="rating">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star-half-o"></i></span>
                            </div>
                            <div class="price">
                                119.99 TL
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <footer class="row center">
                Tüm hakları saklıdır.
            </footer>
        </div>
    </body>
</html>